node_modules

resources/ios/**/*
resources/android/**/*
.env
.DS_Store
.DS_Store
ios/App/.DS_Store
ios/.DS_Store
.DS_Store
ios/App/App/Keys/Secrets.xcconfig
ios/App/Keys/Secrets.xcconfig
android/app/gradle.properties
