.BottomNavbar {
    @apply fixed bottom-6 inset-x-2 bg-[#2D2C2C] p-5 shadow-lg rounded-full md:hidden;
    width: calc(100% - 1rem); /* Adjust the padding to fit within the screen width */
  }  

.Navbardiv {
    @apply flex justify-between
}

.icon {
    @apply text-white hover:text-amber-400 h-8 w-8;
}

.moreicon {
    @apply text-gray-800 dark:text-white hover:text-amber-400 inline h-8 w-8;
}


a {
    @apply text-gray-800 dark:text-white text-xl no-underline	
}

.menu {
    @apply absolute bottom-20 right-2 bg-[#F2F2F2] shadow-lg flex items-center space-x-4 dark:bg-[#2D2C2C] rounded-full p-4 transform transition-transform origin-top scale-y-0 opacity-0;
  }
  
  .BottomNavbar.open .menu {
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  