/* animations.css */

.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  