@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selected-font: 'Arimo', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
    @apply dark:text-white bg-white dark:bg-[#232222];
    font-family: var(--selected-font);
    transition: background-color 0.3s ease;
}

ol {
  @apply px-6 list-decimal
}

ul {
  @apply px-6 list-disc
}

h1 {
    @apply text-3xl font-bold leading-relaxed 
  }
  
  h2 {
    @apply text-3xl font-bold leading-relaxed 
  }
  
  h3 {
    @apply text-2xl font-bold leading-relaxed 
  }
  
  h4 {
    @apply text-xl font-bold leading-relaxed 
  }
  
  h5 {
    @apply text-lg font-bold leading-relaxed 
  }
  
  h6 {
    @apply text-base font-bold leading-relaxed 
  }