@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Arimo', sans-serif;
  font-weight: 900;
}

mark {
  @apply bg-[#FDE68A];
}

.edtiorContainer {
  @apply h-full
}

a {
  @apply text-amber-400 hover:text-amber-500 underline
}

blockquote {
 @apply border-l-4 border-[#E4E4E6] dark:border-[#3F3F46];

 p {
  @apply ml-2
 }
}

ol {
  @apply px-6 list-decimal
}

ul {
  @apply px-6 list-disc
}

ul[data-type="taskList"] {
  @apply list-none;
}

ul[data-type="taskList"] {
  list-style: none; /* Remove default list-style */
  padding-left: 0;  /* Remove default left padding */
}

ul[data-type="taskList"] li {
  display: flex; /* Use flexbox to align checkbox and text */
  align-items: center; /* Vertically align items in the flex container */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  transition: border-color 0.3s;
  margin-top: 4px;
}

input[type="checkbox"]:checked {
  border-color: #FBBF24;
}

input[type="checkbox"]:checked::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z' fill='rgba(251,191,36,1)'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FBBF24;
}

.labelinput {
  @apply text-lg flex dark:text-white bg-transparent w-auto outline-none content-center;
}

.labelinput:empty::before {
  content:attr(data-placeholder);
  @apply bg-transparent text-neutral-600 dark:text-[#A1A1AA] !important; 
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

@media print {
  .scroll-content {
    position: relative;
  }

  .pane {
    position: initial;
  }
}