* {
    box-sizing: border-box;
}
:root {
    --switches-bg-color: #F1F1F0;
    --switches-label-color: black ;
    --switch-bg-color: white;
    --switch-text-color: black ;
}

/* container for all of the switch elements 
    - adjust "width" to fit the content accordingly 
*/
.switches-container {
    width: 20rem; /* Adjusted width */
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    @apply bg-neutral-100 dark:bg-neutral-600 dark:bg-opacity-20;
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 33.33%; /* Adjusted width */
    padding: 0;
    margin: 0;
    @apply text-black dark:text-[color:var(--selected-dark-text)];
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 33.33%; /* Adjusted width */
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
    border-radius: 3rem;
    @apply bg-white dark:bg-neutral-700 shadow-sm shadow-neutral-400 dark:shadow-neutral-600;
    height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    @apply text-black dark:text-[color:var(--selected-dark-text)];
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

.switches-container input:nth-of-type(3):checked~.switch-wrapper {
    transform: translateX(200%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

.switches-container input:nth-of-type(3):checked~.switch-wrapper .switch div:nth-of-type(3) {
    opacity: 1;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  input[type="checkbox"]:checked {
    border-color: #fbbf24;
    background-color: #fbbf24;
  }

  /* Optional: You can add a custom background or other styles for the checked state */
  input[type="checkbox"]:checked::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z' fill='rgba(255, 255, 255, 0.8)'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fbbf24;
  }
