@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply lg:py-4 dark:text-white dark:bg-[#353333];
    font-family: 'Arimo', sans-serif;
}

.pageContainer {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.topContainer {
    @apply bg-white dark:bg-[#353333] px-6;
}

.icon {
    @apply text-amber-400 pr-1 h-8 w-8;
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    @apply gap-2 py-2;
}  

.sidebar {
    @apply w-full flex flex-col border-r border-gray-300 overflow-auto;
}

.sidebarButton {
    @apply p-2 w-auto min-w-[4rem] h-auto bg-[#F8F8F7] dark:bg-[#2D2C2C] dark:text-white rounded-full font-semibold text-gray-800 cursor-pointer flex items-center justify-center;
}

.sidebarList {
    @apply p-2 ml-6 mr-6 cursor-pointer rounded-md items-center justify-center h-full;
}

.bookmarkedSection {
    @apply py-2 md:px-4
}

.ArchivedSection {
    @apply py-4 md:px-4
}

.allNotesSection {
    @apply py-4 md:px-4
}

.lastEditedDate {
    @apply bottom-0 text-base text-gray-500 ml-auto;
}

.Cardbutton {
    @apply py-2
}

.categories {
    @apply grid grid-cols-1 sm:grid-cols-4 gap-4 cursor-pointer rounded-md items-center justify-center;
}

.sectiontitle {
   @apply w-full p-2
}

.cardContent {
  @apply h-32 overflow-hidden;
}

.title {
    font-family: 'Arimo', sans-serif;
    @apply font-bold mb-1;
}

.sidebarItem {
    @apply p-3 h-auto cursor-pointer rounded-xl bg-[#F8F8F7] text-black dark:text-white dark:bg-[#2D2C2C] h-48;
}

.bookmarkedsidebarItem {
    @apply p-3 cursor-pointer rounded-xl bg-[#F8F8F7] text-black dark:text-white dark:bg-[#2D2C2C];
}

.sidebarTitle {
    @apply text-lg font-bold;
}

.sidebarParagraph {
    @apply text-base;
}

.trash {
    @apply text-[#52525C] py-2 hover:text-red-500 dark:text-white w-auto w-8 h-8;
}

.cardIcon {
    @apply w-7 h-7
}

.button {
    @apply text-[#52525C] py-2 dark:text-white w-auto;
}

.searchContainer {
    @apply pt-12;
    display: flex;
    justify-content: center; /* Adjust this to control the space between buttons */
}

.searchBar {
    @apply w-full md:w-[22em] h-12 p-2 mb-1 bg-[#F8F8F7] dark:bg-[#2D2C2C] align-middle rounded-full text-gray-800 cursor-pointer flex md:items-center md:justify-start dark:text-white;
}

.searchBarInput {
    @apply text-lg text-gray-800 bg-[#F8F8F7] dark:bg-[#2D2C2C] px-2 outline-none dark:text-white;
}

.sidebarItemActive {
    composes: sidebarItem;
    background-color: #e2e8f0;
}

.bookmarkedsidebarItemActive {
    composes: sidebarItem;
    background-color: #e2e8f0;
}