@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Arimo', sans-serif;
}

blockquote {
  border-left: 3px solid rgba(#ffff, 0.6);
  padding-left: 1rem;
}

mark {
  @apply bg-yellow-200 dark:bg-yellow-100;
}

h1 {
  @apply font-bold leading-relaxed 
}

h2 {
  @apply text-3xl font-bold leading-relaxed 
}

h3 {
  @apply text-2xl font-bold leading-relaxed 
}

h4 {
  @apply text-xl font-bold leading-relaxed 
}

h5 {
  @apply text-lg font-bold leading-relaxed 
}

h6 {
  @apply text-base font-bold leading-relaxed 
}

.pageContainer {
  @apply overflow-auto h-full justify-center items-start w-screen px-4 text-black dark:text-white lg:px-60 text-base py-4 
}

.toolbar {
   @apply flex overflow-x-scroll overflow-y-hidden items-center justify-center max-h-8 gap-1 md:justify-center w-fit md:w-full
}

.toolbarIcon {
   @apply border-none text-gray-800 dark:text-white
}

.editorContainer {
    @apply overflow-auto h-auto w-full justify-center py-4
}

.styles.fullScreenEditor{
  @apply overflow-auto w-full
}

.textEditor {
  @apply overflow-auto outline-none
}

.textEditorcontent {
  @apply overflow-auto h-auto pl-6 pr-6
}

.toolbarButton {
    @apply p-2 rounded-md text-[#0f172a] dark:text-white bg-transparent cursor-pointer 
}

.toolbarButtonActive { 
    @apply p-2 rounded-md text-amber-400 bg-gray-100 dark:bg-[#2D2C2C] cursor-pointer
}

pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;

  code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }
}

blockquote {
 @apply border-l-4 border-[#E4E4E6] dark:border-[#3F3F46];
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }
}
